---
--- 
    
@import "{{ site.theme }}";

header {
    border-bottom: none !important;
    padding: 20px 0 0 0 !important;
    background-color: transparent;
}

#title_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    h2 {
        margin: 0;
        color: darkslategrey;
        font-weight: 900;
        > span {
            display: inline-block;
            margin: 0 3px;
            transform-origin: center;
        }
    }
}

/* General styles for the pixelated look */
#main_content {
    image-rendering: pixelated;
}

/* Container for the window */
.os-window {
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    background: linear-gradient(to bottom, lightblue, rgba(255, 255, 255, 0.85));
    box-shadow: 3px 5px 12px rgba(255, 255, 255, 0.25);
    position: relative;
}

/* Window header */
.os-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: white;
    padding: 4px 20px 4px 20px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    border: none;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);

    &.minimize {
        background-color: yellow;
    }

    &.close {
        background-color: red;
    }

    &.none {
        background-color: green;
    }
}

.btn.minimize::before {
    content: "-";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.close::before {
    content: "x";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.os-content {
    padding: 50px;
    color: darken($color: dimgray, $amount: 20);
    font-size: 1.15rem;
}

#md_content {
    margin-top: 50px;
    margin-bottom: 50px;
    
    > * > img {
        margin: 0 auto;
        box-shadow: -50px -50px 0 -40px lightseagreen,
            50px 50px 0 -40px lightseagreen;
    }
}

img[alt=car_robot] {
    height: 600px;
    margin: 0 auto !important;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

.dino_animation {
    background: linear-gradient(to top, #f0e68c, #f0e68c 40%, transparent);
}

.dino {
    margin-top: 50px;
    z-index: 1001;
    width: 88px;
    height: 94px;
    background-image: url('../img/2x-trex.png');
    animation: runDino 1.5s steps(4) infinite, moveAcrossScreen 5s linear infinite;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

@keyframes runDino {
    from {
        background-position: 0px;
    }
    to {
        background-position: -352px;
    }
}

@keyframes moveAcrossScreen {
    0% {
        left: 0;
    }
    100% {
        left: 90%;
    }
}

.ground {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin: 0 !important;

    > .air {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../img/wave.png);
        background-size: 1500px 100px
    }
    
    > .air.air1 {
        animation: wave 30s linear infinite;
        z-index: 1000;
        opacity: 0.6;
        animation-delay: 0s;
        bottom: 0;
    }

    > .air.air2 {
        animation: wave2 15s linear infinite;
        z-index: 999;
        opacity: 0.3;
        animation-delay: -5s;
        bottom: 10px;
    }

    > .air.air3 {
        animation: wave 30s linear infinite;
        z-index: 998;
        opacity: 0.1;
        animation-delay: -2s;
        bottom: 15px;
    }

    > .air.air4{
        animation: wave2 5s linear infinite;
        z-index: 997;
        opacity: 0.4;
        animation-delay: -5s;
        bottom: 20px;
    }
}
  
@keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1500px; 
    }
}

@keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1500px; 
    }
}

footer {
    text-align: center;
    padding: 20px 0;
}