---
--- 
    
@import "{{ site.theme }}";

#title_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    h2 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        color: darkslategrey;
        > span {
            display: inline-block;
            margin: 0 3px;
            transform-origin: center;
        }
    }
}

/* General styles for the pixelated look */
#main_content {
    font-family: 'Courier New', Courier, monospace;
    image-rendering: pixelated;
}

/* Container for the window */
.os-window {
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 3px 5px 12px rgba(255, 255, 255, 0.25);
    position: relative;
}

/* Window header */
.os-header {
    background-color: #333;
    height: 50px;
    color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Minimize and close buttons */
.btn {
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    position: relative;

    &.minimize {
        background-color: green;
    }

    &.close {
        background-color: red;
    }

    &.none {
        background-color: yellow;
    }
}

.btn.minimize::before {
    content: "-";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.close::before {
    content: "x";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.os-content {
    padding: 8px;
}